{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'application QCM</h1>
    <p>Gérez facilement vos questions et QCMs.</p>

    <div class="buttons">
        <a href="{{ path('app_question_list') }}" class="btn">Voir les Questions</a>
        <a href="{{ path('app_question_new') }}" class="btn">Créer une Question</a>
        <a href="{{ path('app_qcm_list') }}" class="btn">Voir les QCMs</a>
    </div>
{% endblock %}
